# Android / Gradle
*.iml
.gradle/
local.properties
/.idea
/.idea/*
!.idea/codeStyles
/out
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# Logs
*.log

# OS
.DS_Store
Thumbs.db
